// @import './fonts.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: 0 0 0;
    --color-secondary: 145 149 155;
    --color-accent: 219 170 55;
    --color-highlight: 206 90 21;
    --color-background: 13 17 19;
    --color-foreground: 240 241 239;
}

body {
    background: rgb(var(--color-background));
    color: rgb(var(--color-primary));
    overflow-y: scroll;
    overflow-x: hidden;
}

.card {
    @apply bg-foreground rounded p-4 shadow;
}