.source-viewer {
  margin: 12px
}

.source-viewer-nav {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-bottom: -1px;
  overflow: auto;
  scrollbar-width: none;
  z-index: 800
}

.source-viewer-nav__tab {
  background: var(--code-viewer-tab-inactive-background);
  border: 1px solid var(--code-viewer-border-color);
  border-left-width: 0;
  color: #666;
  flex-shrink: 0;
  font-size: 13px;
  overflow: hidden;
  padding: 8px 18px;
  transition: all .16s ease;
  white-space: nowrap
}

.source-viewer-nav__tab:first-child {
  border-left-width: 1px
}

.source-viewer-nav__tab--active {
  background: var(--code-viewer-background);
  border-bottom-color: var(--code-viewer-background);
  color: var(--body-text-color);
  pointer-events: none;
  z-index: 1000
}

@media (hover: hover) {
  .source-viewer-nav__tab:hover {
      color:var(--body-text-color)
  }
}

.source-viewer-code {
  background: var(--code-viewer-background);
  border: 1px solid var(--code-viewer-border-color);
  position: relative
}

.source-viewer-code__copy {
  background: var(--code-viewer-background);
  border-radius: 6px;
  padding: 5px 8px 6px 7px;
  position: absolute!important;
  right: 2px;
  top: 5px;
  z-index: 1200
}

.source-viewer-code__pre {
  word-wrap: break-word;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-family: Ubuntu Mono,monospace;
  font-size: 16px;
  line-height: 1.5;
  margin: 12px 14px;
  overflow: auto;
  overflow: hidden;
  padding: 0;
  white-space: pre;
  word-break: break-all;
  z-index: 900
}

.source-viewer-code__pre--base64,.source-viewer-code__pre--hex {
  white-space: pre-wrap
}

.source-viewer-code__pre--expanded {
  display: block;
  overflow: auto
}

.source-viewer-code__skeletons .skeleton {
  height: 1em;
  margin: 1em
}

.contract-info-block+.contract-info-block {
  margin-top: 26px
}

.contract-info-block__header {
  font-size: 20px;
  font-weight: 500;
  margin: 18px 0 12px;
  padding-left: 14px
}

.contract-info-block__container {
  font-size: 14px;
  line-height: 1.4;
  padding-left: 14px
}

.user-nfts {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 24px
}

@media (max-width: 1200px) {
  .user-nfts {
      grid-column-gap:18px;
      grid-row-gap: 18px;
      padding: 18px
  }
}

@media (max-width: 900px) {
  .user-nfts {
      grid-template-columns:1fr 1fr 1fr
  }
}

@media (max-width: 600px) {
  .user-nfts {
      grid-template-columns:1fr 1fr
  }
}

@media (max-width: 480px) {
  .user-nfts {
      grid-column-gap:14px;
      grid-row-gap: 14px;
      padding: 14px
  }
}

.user-nfts-empty-panel {
  font-weight: 500;
  padding: 30px 24px 24px;
  text-align: center
}

.user-nft {
  background: var(--user-nft-list-item-background);
  border-radius: 8px;
  box-shadow: 1px 1px var(--user-nft-list-item-box-shadow-blur) rgba(0,0,0,.19);
  color: inherit;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  transition: background .2s ease;
}

.user-nft,.user-nft:hover {
  text-decoration: none
}

@media (hover: hover) {
  .user-nft:hover {
      background:var(--user-nft-list-item-hover-background)
  }

  .user-nft:hover .user-nft__image__img {
      transform: scale(1.08)
  }
}

.user-nft--skeleton {
  pointer-events: none;
  user-select: none
}

.user-nft__image {
  aspect-ratio: 1/1;
  display: block;
  font-size: 0;
  overflow: hidden
}

.user-nft__image,.user-nft__image__img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%
}

.user-nft__image__img {
  height: 100%;
  object-fit: cover;
  transform: none;
  transition: transform .2s ease
}

.user-nft__footer {
  padding: 12px 12px 10px
}

.user-nft__name {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.user-nft__collection {
  align-items: center;
  color: var(--user-nft-list-item-text-muted-color);
  display: flex;
  font-size: 13px;
  font-weight: 400;
  margin: -4px;
  padding: 4px 4px 8px;
  white-space: nowrap
}

.user-nft__collection__text {
  overflow: hidden;
  text-overflow: ellipsis
}

.user-nft__collection__icon {
  fill: var(--blue-bright);
  flex-shrink: 0;
  height: 1em;
  margin-left: .3em;
  width: 1em
}

@media (max-width: 480px) {
  .user-nft__footer {
      padding:10px
  }

  .user-nft__name {
      font-size: 14px
  }

  .user-nft__collection {
      font-size: 11px
  }
}

.page-address-contract-info,.page-address-contract-info__link {
  align-items: center;
  display: flex
}

.page-address-contract-info .ui-round-image {
  color: inherit;
  height: 20px;
  margin: -8px 6px -8px 0;
  width: 20px
}

.ui-qr {
  background: #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 0;
  padding: 6px;
  position: relative
}

.ui-qr__stub {
  background: var(--body-background)
}

.ui-qr__logo {
  fill: #111;
  height: 40%;
  left: 50%;
  paint-order: stroke;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 40%
}

.ui-qr__logo--cat {
  margin-top: -2%
}

.nft-item-marketplace {
  align-items: center;
  color: inherit;
  display: flex;
  text-decoration: underline
}

.nft-item-marketplace:hover {
  text-decoration: none
}

.nft-item-marketplace__icon {
  fill: currentColor;
  height: 14px;
  margin-right: 4px;
  width: 14px
}

.jetton-wallet-token-info {
  align-items: center;
  display: flex
}

.jetton-wallet-token-info__icon {
  height: 20px;
  margin: -6px 6px -6px -2px;
  width: 20px
}

.jetton-wallet-token-info .ui-round-image {
  color: inherit
}

.jetton-info-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin-bottom: 8px;
  padding: 18px 0;
  width: 100%
}

.jetton-info-image {
  border-radius: 50%;
  height: 72px;
  margin: 0 14px 0 0;
  width: 72px
}

.jetton-info {
  flex-grow: 1
}

.jetton-info__name {
  -webkit-line-clamp: 1;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 8px
}

.jetton-info__description,.jetton-info__name {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden
}

.jetton-info__description {
  -webkit-line-clamp: 3
}

.jetton-wallet-search {
  appearance: none;
  background: var(--body-light-muted-color);
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  margin: -6px 0!important;
  max-width: 240px;
  padding: 5px 10px;
  transition: all .2s ease;
  width: 100%
}

.jetton-wallet-search::placeholder {
  color: #939394
}

.jetton-wallet-search::-webkit-input-placeholder {
  color: #939394
}

.jetton-wallet-search:focus {
  background: transparent;
  border-color: #2575ed;
  max-width: 480px
}

@media (max-width: 480px) {
  .jetton-info-container {
      flex-direction:column;
      margin-bottom: 6px;
      text-align: center
  }

  .jetton-info-image {
      height: 86px;
      margin: 0 0 12px;
      width: 86px
  }

  .jetton-info__name {
      font-size: 26px
  }

  .jetton-wallet-search {
      margin: 0!important;
      max-width: 100%
  }
}

.vote-casting-button__icon {
  fill: currentColor;
  height: 24px;
  width: 24px
}

.vote-casting-container {
  margin: 0 16px
}

.vote-casting-container__buttons {
  grid-column-gap: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 16px 0 0
}

.vote-casting-container__buttons .bright-blue-button {
  font-size: 24px
}

.vote-casting-container__text {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: center;
  margin: 0;
  padding: 14px 0
}

.vote-casting-container__text svg {
  fill: currentColor;
  flex-shrink: 0;
  height: 14px;
  margin-right: 5px;
  width: 14px
}

@media (max-width: 480px) {
  .vote-casting-container {
      margin:0 10px
  }

  .vote-casting-container__buttons .bright-blue-button {
      font-size: 18px
  }

  .vote-casting-container__text {
      font-size: 13px;
      padding: 10px 0 14px
  }

  .vote-casting-container__text svg {
      display: none
  }
}

.vote-results-bar-container {
  padding: 16px 18px 8px
}

.vote-results-bar {
  align-items: center;
  background: var(--stacked-bar-background);
  border-radius: 36px;
  display: flex;
  height: 12px;
  overflow: hidden;
  width: 100%
}

.vote-results-bar__stripe {
  border-right: 1px solid var(--stacked-bar-background);
  box-sizing: border-box;
  height: 100%;
  min-width: 2px;
  transition: width .4s ease;
  width: 24%
}

.vote-results-bar__stripe:first-child {
  min-width: 3px
}

.vote-results-bar__stripe--green {
  background: var(--stacked-bar-green)
}

.vote-results-bar__stripe--red {
  background: var(--stacked-bar-red)
}

.vote-results-legend {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: center;
  margin-top: 8px
}

.vote-results-legend__result {
  align-items: center;
  display: flex;
  line-height: 1.8;
  margin-right: 24px
}

.vote-results-legend__result:last-child {
  margin-right: 0
}

.vote-results-legend__ricegrain {
  border-radius: 18px;
  display: inline-block;
  height: 4px;
  margin-right: 6px;
  width: 10px
}

.vote-results-legend__ricegrain--red {
  background: var(--stacked-bar-red)
}

.vote-results-legend__ricegrain--green {
  background: var(--stacked-bar-green)
}

.vote-results-legend__ricegrain--meh {
  background: var(--stacked-bar-meh)
}

.page-nominator-top {
  display: flex;
  flex-direction: row
}

.page-nominator-qr-card {
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;
  margin-right: 18px;
  padding: 14px
}

.page-nominator-qr-card__qr-code {
  border-radius: 4px;
  margin-bottom: 14px
}

.page-nominator-qr-card__text {
  display: block;
  font-size: 13px;
  margin: 10px auto -4px;
  max-width: 235px;
  overflow: hidden;
  text-align: center;
  width: 100%
}

.page-nominator-qr-card__text b {
  font-weight: 500
}

.page-nominator-info-card {
  flex-grow: 1;
  margin-top: 0!important
}

.page-nominator-validator-activity {
  border-radius: 10px;
  height: 8px;
  margin-bottom: -1px;
  margin-right: 6px;
  width: 8px
}

.page-nominator-validator-activity--active {
  background: var(--green-bright)
}

.page-nominator-validator-activity--pending {
  background: var(--yellow-bright)
}

.page-nominator-validator-activity--inactive {
  background: var(--badge-grey-color)
}

@media screen and (max-width: 740px) {
  .page-nominator-top {
      flex-direction:column-reverse
  }

  .page-nominator-qr-card {
      margin: 18px 0 0
  }

  .page-nominator-qr-card__qr-code {
      display: none
  }

  .page-nominator-qr-card__text {
      max-width: unset
  }
}

.ui-copy-button {
  cursor: text;
  position: relative
}

.ui-copy-button__icon {
  fill: currentColor;
  cursor: pointer;
  margin: -6px -6px -8px -4px;
  opacity: .65;
  padding: 6px;
  user-select: none
}

.ui-copy-button:hover .ui-copy-button__icon {
  opacity: 1
}

.ui-round-image {
  color: var(--ui-round-image-color)
}

.ui-round-image__image {
  border-radius: 50%;
  display: block;
  height: 100%;
  width: 100%
}

.ui-round-image-stub {
  align-items: center;
  border: 3px solid;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center
}

.ui-round-image-stub__icon {
  fill: currentColor;
  margin-bottom: -6%;
  width: 44%
}

.ui-round-image--tiny .ui-round-image-stub {
  border-width: 1px
}

.ui-round-image--tiny .ui-round-image-stub__icon {
  width: 56%
}

/*# sourceMappingURL=application.12f3d3cc.css.map*/
